PORT= 8000
MONGODB_URI= mongodb+srv://sumitgupta:sumit1234@cluster0.8oa9yx3.mongodb.net/

CORS_ORIGIN= *

ACCESS_TOKEN_SECRET =sumit
ACCESS_TOKEN_EXPIRY =1d
REFRESH_TOKEN_SECRET=gupta
REFRESH_TOKEN_EXPIRY=kumar

CLOUDINARY_CLOUD_NAME = diqy4f4tk
CLOUDINARY_API_KEY = 547659738564447
CLOUDINARY_API_SECRET = 4mVzhcCjOFpo6HPq3C1lbZUzq4c